<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>
    <!-- <link rel="stylesheet" href="../styles/expense-tracking.css"> -->
    <link rel="icon" type="image/x-icon" href="../assets/logo.png">
    <link rel="stylesheet" href="../styles/homepage.css" />
    <!-- Include Chart.js -->
</head>

<body>
    <header class="header">
        <div>
            <img src="../assets/logo.png" alt="">
            <button class="menu-items" id="homeBtn" data-target="homepage.html">Home</button>
            <button class="menu-items" id="financeBtn" data-target="financial-lessons.html">Financial Lessons</button>
            <button class="menu-items" id="aboutBtn" data-target="about.html">About Us</button>
            <button>Logout</button>
        </div>
    </header>
    <div class="header-container">
        <div class="row1">
            <span>
                <img src="../assets/save-money.webp" alt="">
                <p>
                    Saving money is the foundation of financial stability and independence. It involves setting aside a
                    portion of your income for future needs, emergencies, or planned expenses.
                </p>
                <button>Start Saving</button>
            </span>
            <span>
                <img src="../assets/save-money.webp" alt="">
                <p>
                    Investing is a powerful way to grow wealth over time and achieve financial goals. It involves
                    putting money into assets like stocks, bonds, mutual funds, or real estate, aiming for higher
                    returns than savings accounts.
                </p>
                <button>Start Investing</button>
            </span>
            <span>
                <img src="../assets/save-money.webp" alt="">
                <p>
                    Tracking money ensures you stay on top of your finances and meet your financial goals. It involves
                    monitoring your income, expenses, and investments to make informed decisions.
                </p>
                <button id="start-tracking-btn">Start Tracking</button>
            </span>
        </div>
    </div>
    <script src="../scipts/homepage.js"></script>
</body>

</html>