* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.header {
    height: auto;
    -webkit-box-shadow: 1px -5px 5px 9px #9C9C9C;
    box-shadow: 1px -5px 5px 9px #9C9C9C;
    padding: 5px;
    background-color: #614827;
}

.header div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header div img {
    width: 4%;
}

.header div .menu-items {
    background: transparent;
    border: none;
    color: #f5f5dc;
    font-size: 15px;
    font-weight: bold;
    text-transform: titlecase;
}

.header div .menu-items .active {
    background: #f5f5dc;
    color: #614827;

}

.header div .menu-items:hover {
    cursor: pointer;
}

.header-container {
    background: #f5f5dc;
    height: 100vh;
    padding: 10px;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    /* background-color: #614827; */
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    /* border: none; */
    outline: none;
    transition: 0.4s;
    border: 2px solid #614827;
    border-radius: 5px;
    margin: 5px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
    background-color: #f5f5dc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;

}